/* ===========================================
   LAYOUT E CONTAINERS
   =========================================== */

/* Container responsivo */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-md);
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;

    grid-template-areas:
        "cabecalho-principal"
        "hero"
        "produtos-destaque"
        "depoimentos"
        "diferenciais"
        "cadastro"
        "galeria"
        "venha-visitar"
        "sobre-nos"
        "rodape";
}

#cabecalho-principal {
    grid-area: cabecalho-principal;
    background-color: var(--bg-dark);
}

.cabecalho-container {
    color: var(--text-light);
    padding: var( --space-xs);

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "logo navbar-principal botoes-autenticacao";
}

.logo {
    grid-area: logo;
}

.logo img {
    border-radius: 100px;
    width: 80px;
    height: 80px;
}

.navbar-principal {
    grid-area: navbar-principal;
}

.navbar-principal ul {
    display: flex;
    gap: var(--space-sm);
}

.navbar-principal a:hover {
    border-bottom: 1px solid var(--accent-hover);
}

.botoes-autenticacao {
    grid-area: botoes-autenticacao;

    display: flex;
    gap: var(--space-sm);
}


#hero {
    grid-area: hero;
}

#produtos-destaque {
    grid-area: produtos-destaque;
}

#depoimentos {
    grid-area: depoimentos;
}

#diferenciais {
    grid-area: diferenciais;
}

#cadastro {
    grid-area: cadastro;
}

#galeria {
    grid-area: galeria;
}

#venha-visitar {
    grid-area: venha-visitar;
}

#sobre-nos {
    grid-area: sobre-nos;
}

#rodape {
    grid-area: rodape;
}