/*  -- Reset CSS -- */
* {
    padding: 0;
    margin: 0;
}

/*  -- ESTILIZAÇÃO GLOBAL -- */

:root {
    --cor-primaria: #552814;
    --cor-secundaria: #BB793E;
    --cor-clara: #F5EDE3;
}

html {
    font-size: 16px;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--cor-primaria);
    background-color: var(--cor-clara);
    font-weight: 400;

}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 80px;
}

.titulo-principal {
    font-family: "Playfair Display", serif;
    font-size: 56px;
    text-align: center;
}

.titulo-secundario {
    font-family: "Playfair Display", serif;
    font-size: 40;
    text-align: center;
}

.hero .titulo-principal, .hero .titulo-secundario {
    text-align: left;
}

/*  -- Componentes -- */
.btn {
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 8px;
}

.btn-principal-para-fundo-escuro {
    background-color: var(--cor-clara);
    color: var(--cor-primaria);
}

.btn-secundario-para-fundo-escuro {
    background-color: var(--cor-primaria);
    color: var(--cor-clara);
    border: 1px solid var(--cor-clara);
}

.btn-principal-para-fundo-claro {
    background-color: var(--cor-primaria);
    color: var(--cor-clara);
}

.btn-secundario-para-fundo-claro {
    background-color: var(--cor-secundaria);
    color: var(--cor-clara);
}

/* -- CABEÇALHO PRINCIPAL --  */

.cabecalho-principal {
    background-color: var(--cor-primaria);
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 20px rgba(0,0,0, 0.70);
}

.cabecalho-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60px;
    border-radius: 100%;
}

.cabecalho-principal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.cabecalho-principal li a {
    display: block;
    text-align: center;
    color: var(--cor-clara);
    text-decoration: none;
    padding: 14px 20px;
    overflow: hidden;
}

.cabecalho-principal li a:hover {
    color: var(--cor-secundaria);
}

.cabecalho-principal a:focus {
    color: #321f0f;
}

/* -- CONTEÚDO DO MAIN -- */

main {
    margin-top: 84px;
    padding-top: 20px;
}

/* -- Hero -- */

/*
#inicio {
    background-color: red;
}
*/

.container-hero {
    display: flex;
    justify-content: space-between;
}

.hero-content {
    width: 50%;
}


.content-produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.conteiner-produtos-principais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: var(--cor-secundaria);

    padding: 20px 0;
}

.setas-produtos {
    font-size: 60px;
}

.produtos-principais {
    display: flex;

    gap: 30px;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: var(--cor-clara);
    border-radius: 8px;
    box-shadow: 0px 0px 36px 5px rgba(0,0,0,0.38);
}


.info-produto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    padding: 1rem;;
}

.produto img {
    max-width: 18rem;
    border-radius: 8px 8px 0 0;
}


table {
    border-collapse: collapse;
}

.limpar-float {
    clear: both;
    height: 0;
}

.video-institucional {
    width: 300px;
    float: left;
    margin-right: 20px;
}

.iframe-localizacao {
    width: 600px;
    height: 450px;
    border: 0;
    float: left;
    margin-right: 40px;
} 

.img-sobre-nos {
    width: 400px;
    float: right;
    margin-left: 30px;
}

.lista-diferenciais li {
    list-style: none;
    display: inline-block;

    border-radius: 8px;
    height: 100px;
    width: 350px;
    text-align: center;
    padding: 10px 30px;
    background-color: #F5EDE3;
    box-shadow: 0px 0px 36px 5px rgba(0,0,0,0.38);
}
